.post-container {
	width: 532px;
	margin-left: auto;
	margin-right: auto;
}

.sala-container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}

.crear-sala-container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.post-autor {
	position: absolute;
}

.post-moderar {
	position: relative;
	text-align: right;
}

.post-numcomentarios {
	
}

.post-asunto {
	position: relative;
	text-align: right;
	left: 200px;
	width: 300px;
}

.post-contenido {
	padding: 5px;
	background-color: #F2F2F2;
	border-radius: 3px;
}

.post-denunciado-contenido {
	padding: 5px;
}

.post-denunciado-date {
	position: relative;
	padding: 3px;
	text-align: right;
}

.post-date {
	position: relative;
	padding: 3px;
	text-align: right;
	background-color: #F2F2F2;
}

.post-calificaciones_positivas {
	width: 140px;
}

.post-calificaciones_positivas A:link {
	color: #42A444;
}

.post-calificaciones_positivas A:hover {
	color: #42A444;
}

.post-calificaciones_positivas A:active {
	color: #42A444;
}

.post-calificaciones_positivas A:visited {
	color: #42A444;
}

.post-calificaciones_negativas {
	width: 220px;
	text-align: center;
}

.post-calificaciones_negativas A:link {
	color: #FF8255;
}

.post-calificaciones_negativas A:hover {
	color: #FF8255;
}

.post-calificaciones_negativas A:active {
	color: #FF8255;
}

.post-calificaciones_negativas A:visited {
	color: #FF8255;
}

.post-denuncia {
	width: 140px;
	text-align: right;
}

.post-denuncia A:link {
	color: #3905A0;
}

.post-denuncia A:hover {
	color: #3905A0;
}

.post-denuncia A:active {
	color: #3905A0;
}

.post-denuncia A:visited {
	color: #3905A0;
}

.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #bce8f1;
}

.bs-callout {
	margin: 2px 0;
	padding: 2px;
	border-left: 3px solid #eee;
}

.comentario-denuncia {
	text-align: right;
}

.comentario-denuncia A:link {
	color: #3905A0;
}

.comentario-denuncia A:hover {
	color: #3905A0;
}

.comentario-denuncia A:active {
	color: #3905A0;
}

.comentario-denuncia A:visited {
	color: #3905A0;
}

.post-mi-comentario-container {
	width: 500px;
}

textarea {
	overflow: hidden;
	resize: none;
	white-space: pre;
	border: 2px solid #D2EBFF;
}

textarea.mi-comentario-txtarea {
	width: 380px;
	height: 25px;
}

textarea.mi-post-txtarea {
	width: 490px;
	height: 100px;
}

.rechazar-denuncia {
	color: #FF0404;
}

.validar-denuncia {
	color: #30B71F;
}

.rechazar-denuncia a:link {
	color: #FF0404;
}

.rechazar-denuncia a:hover {
	color: #FF0404;
}

.rechazar-denuncia a:active {
	color: #FF0404;
}

.rechazar-denuncia a:visited {
	color: #FF0404;
}

.comentario-denunciado-contenido {
	padding: 5px;
}